127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Docker servers
192.168.1.93 docker_primary
192.168.1.35 docker_worker1
192.168.1.36 docker_worker2

# Monitoring
192.168.1.94 nagios

# FTP
192.168.1.95 ftp

# NFS
192.168.1.96 nfs

# Database
192.168.1.97 db_http

# Webserver (3 virtual host)
192.168.1.98 webserver

# Load Balancer
192.168.1.99 haproxy

# DNS
192.168.1.92 dns

# NTP
192.168.1.152 ntp

